* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    background-color: white;
}

.wave {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}



.login-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.img img {
    width: 500px;
}

form {
    width: 360px;
}

.login-content img {
    height: 100px;
}

.login-content h2 {
    margin: 15px 0;
    color: #333;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.login-content .input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 2px 0;
    padding: 4px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
    margin-top: 0;
}

.i {
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i {
    transition: .3s;
}

.input-div>div {
    position: relative;
    height: 65px;
}

.input-div>div>h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
}

.input-div:before,
.input-div:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #38d39f;
    transition: .4s;
}

.input-div:before {
    right: 50%;
}

.input-div:after {
    left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
    width: 50%;
}

.input-div.focus>div>h5 {
    top: -5px;
    font-size: 15px;
}

.input-div.focus>.i>i {
    color: #38d39f;
}

.input-div>div>input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: 'poppins', sans-serif;
}

.input-div.pass {
    margin-bottom: 4px;
}

a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
}

a:hover {
    color: #38d39f;
}

.btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
}

.btn:hover {
    background-position: right;
}


@media screen and (max-width: 1050px) {
    .container {
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    form {
        width: 290px;
    }

    .login-content h2 {
        font-size: 2.4rem;
        margin: 8px 0;
    }

    .img img {
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }

    .img {
        display: none;
    }

    .wave {
        display: none;
    }

    .login-content {
        justify-content: center;
    }
}

.diva {
    padding: 5px 25px;

}



@import url('https://fonts.googleapis.com/css?family=Montserrat');


.title {
	font-family: "Montserrat";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	letter-spacing: 1px;
}

h1 {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 50px;
	line-height: .89;
	margin: 2px 0;
}
/* styling my button */

.white-mode {
	text-decoration: none;
	padding: 7px 10px;
	background-color: #122;
	border-radius: 3px;
	color: #FFF;
	transition: .35s ease-in-out;
	position: absolute;
	left: 15px;
	bottom: 15px;
	font-family: "Montserrat";
}

.white-mode:hover {
	background-color: #FFF;
	color: #122;
}




.bg_animate {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #005C98, #505BDA);
    position: relative;
    overflow: hidden;
}

.banner_img {
    animation: movimiento 2.5s linear infinite;
}

.banner_img img {
    width: 250px;
    height: 288px;
    display: block;
}

/* burbujas */

.burbuja {
    border-radius: 50%;
    background: red;
    opacity: .2;

    position: absolute;
    bottom: -150;

    animation: burbujas 4s linear infinite;
}

.burbuja:nth-child(1) {
    width: 80px;
    height: 80px;
    left: 5%;
    transform: rotate(45deg);
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2) {
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(3) {
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}

.burbuja:nth-child(4) {
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(5) {z
    width: 70px;
    height: 70px;
    left: 65%;z
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(6) {
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(7) {
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(8) {
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.burbuja:nth-child(9) {
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbuja:nth-child(10) {
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}


@keyframes burbujas {
    0% {
        bottom: 0;
        opacity: 0;
    }

    30% {
        transform: translateX(30px);
    }

    50% {
        opacity: .4;
    }

    100% {
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0);
    }
}


.col{
  display:inline-block;
  width: 19%;
    height: 2%;
}

.heart{
  /*content*/
  width: 150px;
  height: 150px;
  position: relative;
  top: 120vh;
  z-index:-1;
}

.circle{
  /*circle2*/
  width:90px;
  height:90px;
  content:'';
  background-color: crimson;
  position: absolute;
  margin: 35px 0px 0px 30px;
  transform: rotate(-135deg);
}

.circle::after{
  /*square*/
  width: 90px;
  height: 90px;
  content:'';
  background-color: crimson;
  border-radius: 45px;
  position: absolute;
  margin: 44px 0px;
}

.circle::before{
  /*circle1*/
  width: 90px;
  height: 90px;    
  content:'';
  background-color: crimson;
  position: absolute;
  z-index: 1;
  margin: 0px 44px;
  border-radius: 45px;
}
/******************************/
.heart.heart1 .circle{
  animation: 12s colors infinite;
  animation-delay: 0s;
}
.heart.heart1 .circle::before{
  animation: 12s colors infinite;
  animation-delay: 0s;
}
.heart.heart1 .circle::after{
  animation: 12s colors infinite;
  animation-delay: 0s;
}


.heart.heart2 .circle{
  animation: 12s colors infinite;
  animation-delay: 3s;
}
.heart.heart2 .circle::before{
  animation: 12s colors infinite;
  animation-delay: 3s;
}
.heart.heart2 .circle::after{
  animation: 12s colors infinite;
  animation-delay: 3s;
}

.heart.heart3 .circle{
  animation: 12s colors infinite;
  animation-delay: 6s;
}
.heart.heart3 .circle::before{
  animation: 12s colors infinite;
  animation-delay: 6s;
}
.heart.heart3 .circle::after{
  animation: 12s colors infinite;
  animation-delay: 6s;
}

.heart.heart4 .circle{
  animation: 12s colors infinite;
  animation-delay: 9s;
}
.heart.heart4 .circle::before{
  animation: 12s colors infinite;
  animation-delay: 9s;
}
.heart.heart4 .circle::after{
  animation: 12s colors infinite;
  animation-delay: 9s;
}

.heart.heart5 .circle{
  animation: 12s colors infinite;
  animation-delay: 5s;
}
.heart.heart5 .circle::before{
  animation: 12s colors infinite;
  animation-delay: 5s;
}
.heart.heart5 .circle::after{
  animation: 12s colors infinite;
  animation-delay: 5s;
}


@keyframes colors{
  0%{     
     background-color: #b30000;
  }
  25%{
    background-color: #24248f;
  }
  50%{
    background-color: #ff1a9f;
  }
  75%{
    background-color: #fbd204;
  }
  100%{
    background-color: #b30000;
  }
}
/******************************/
.halfMoon{
  background: transparent;
  height: 90px;
  width: 45px;
  position: absolute;
  border-radius: 76px 0px 0px 0px;
  margin: 82px 81px;
  transform: rotate(45deg);
}
.halfMoon::before{
  height: 90px;
  width: 45px;
  border-radius: 76px 0px 0px 0px;
  content: '';
  position: absolute;
  margin: 45px -40px;
  transform: rotate(78.5deg);
}

.halfMoon::after{
  height: 90px;
  width: 45px;
  border-radius: 0px 0px 0px 76px;  
  content: '';
  margin: 3px 7px;
  position: absolute;  
  transform: rotate(369deg);
}

.heart1{
  animation: 20s Linear-motion infinite,MoveLeft 23s infinite;
  animation-delay: 5s;
}

.heart2{
  animation: 12s Linear-motion infinite, MoveLeft 15s infinite;
  animation-delay: 1s;
}

.heart3{
  animation: 12s Linear-motion infinite, MoveLeft 15s infinite;
  animation-delay: 18s;
}

.heart4{
  animation: 16s Linear-motion infinite, MoveLeft 19s infinite;
  animation-delay: 11s;
}

.heart5{
  animation: 15s Linear-motion infinite, MoveLeft 18s infinite;
  animation-delay: 5s;
}

@keyframes Linear-motion{
  0%{     
    top:100vh;
  }
  100%{
    top:-20vh;
  }
}

@keyframes MoveLeft{
  0%{
    margin-left: 0%;
  }
  50%{
    margin-left:50%;
  }
  100%{
    margin-left: 0%;
  }
}












